{
  "openapi": "3.0.0",
  "info": {
    "title": "Account Information API",
    "version": "1.0",
    "description": "API service for managing user account information with full CRUD operations.",
    "contact": {
      "name": "Account API Support",
      "email": "support@accountapi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.accountservice.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://staging.api.accountservice.com/v1",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/accounts/{accountId}": {
      "get": {
        "summary": "Retrieve account information",
        "description": "Fetch detailed information for a specific account by ID",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the account"
          },
          {
            "name": "includeBalance",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Whether to include account balance in response"
          }
        ],
        "responses": {
          "200": {
            "description": "Account information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create or update account information",
        "description": "Create a new account or update existing account information",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the account"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "201": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete account",
        "description": "Permanently delete an account and all associated data",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the account to delete"
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Force delete even if account has active transactions"
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted successfully"
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Cannot delete account with active transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/accounts": {
      "get": {
        "summary": "List all accounts",
        "description": "Retrieve a paginated list of accounts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "Number of accounts per page"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "inactive", "suspended"]
            },
            "description": "Filter accounts by status"
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account",
            "example": "acc_123456789"
          },
          "userId": {
            "type": "string",
            "description": "Associated user identifier",
            "example": "user_987654321"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Account email address",
            "example": "user@example.com"
          },
          "firstName": {
            "type": "string",
            "description": "Account holder first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Account holder last name",
            "example": "Doe"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "suspended"],
            "description": "Current account status",
            "example": "active"
          },
          "balance": {
            "type": "number",
            "format": "decimal",
            "description": "Current account balance",
            "example": 1234.56
          },
          "currency": {
            "type": "string",
            "description": "Account currency code",
            "example": "USD"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Account creation timestamp",
            "example": "2024-01-15T10:30:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp",
            "example": "2024-01-16T14:45:00Z"
          }
        }
      },
      "AccountRequest": {
        "type": "object",
        "required": ["email", "firstName", "lastName"],
        "properties": {
          "userId": {
            "type": "string",
            "description": "Associated user identifier",
            "example": "user_987654321"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Account email address",
            "example": "user@example.com"
          },
          "firstName": {
            "type": "string",
            "description": "Account holder first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Account holder last name",
            "example": "Doe"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "suspended"],
            "description": "Account status",
            "example": "active"
          },
          "currency": {
            "type": "string",
            "description": "Account currency code",
            "example": "USD"
          }
        }
      },
      "AccountList": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "Number of items per page",
            "example": 10
          },
          "total": {
            "type": "integer",
            "description": "Total number of accounts",
            "example": 250
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages",
            "example": 25
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code",
            "example": "ACCOUNT_NOT_FOUND"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "The requested account could not be found"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Error timestamp",
            "example": "2024-01-16T15:30:00Z"
          },
          "requestId": {
            "type": "string",
            "description": "Unique request identifier for debugging",
            "example": "req_abc123def456"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token for authentication"
      }
    }
  }
}